/* -------------------------------------
		BG Color
------------------------------------- */

$primary-base: #eee;
$secondary-base: #fff;
$theme-base: #F8AB85;
$lighten-theme-base: lighten($theme-base, 23%);
$darken-theme-base: darken($theme-base, 7%);

/* -------------------------------------
		Color
------------------------------------- */

$primary-color-text: #4A4A4A;
$theme-color-text: $theme-base;
$theme-2nd-color-text: $theme-color-text;
$third-color-text: #fff;
