/* -------------------------------------
		Typography
------------------------------------- */

$open: 'Open Sans', Arial, Helvetica, sans-serif;
$arial: Arial, Helvetica, sans-serif;
$georgia: Georgia, Helvetica, sans-serif;

$font: $open;

.body-wrap,
.content {
	@include em-baseline;
}

h1, h2, h3 {
	font-family: $font;
	color: $primary-color-text;
	font-weight: bold;
}

h1 {
	@include em(font-size, 32px);
	@include em(line-height, 40px);
  @include em(padding-bottom, 32px);
	font-weight: 500;
}

h2 {
	@include em(font-size, 24px);
	@include em(line-height, 30px);
	@include em(padding-bottom, 24px);
}

h3 {
	@include em(font-size, 18px);
	@include em(line-height, 24px);
	@include em(padding-bottom, 18px);
}

h4 {
	@include em(font-size, 16px);
	@include em(line-height, 22px);
	@include em(padding-bottom, 16px);
}

p {
	font-family: $font;
	@include em(font-size, 16px);
	@include em(line-height, 22px);
	color: $primary-color-text;
	font-weight: normal;
}

img {
	font-family: $font;
}
