.disclaimer {

	max-width: $main-width;
	background-color: $secondary-base;

	.main-wrap {
    $mainWrap: $main-max-width + 30;
    $width: (($mainWrap * 100) / $main-width)+0%;
    //change the width percentage on table
    // unit((540 * 100) / 600)+0% = 90%
    width: $width;
    max-width: $mainWrap;
		background-color: $secondary-base;

		a, p, strong {

			font-family: $font;
			font-size: 10px;
			color: $primary-color-text;

		}
	}
}
